
body{
    background-color: #E3E6E3;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.home{
    display: flex;
    border-bottom-style: solid;
    background-color: rgb(88, 165, 88);
    /* margin:0 70px 0 70px; */
    width:80%;
    margin: 0 auto; 
  }
.home_link{
    text-decoration: none;
    color:aliceblue;
}
.home_link:hover, .home_link:active {
    color: white;
  }
  .home_name{
    text-align: center;
    color: rgb(18, 35, 112);
  }
  .home2_container{
   padding: 50px;
   margin-left: 70px;
   margin-right: 70px;

  }
  .addContainer{
    position: relative;
    width: 100%; 
  }
.schedule{
  background-color: green;
  position: absolute;
  right: 10%; 
}

*{
  box-sizing: border-box;
}
.table{
  width: 100%;

}

td,th{
  width: 17vw;
/* width:100%; */
  text-align: center; 
}


.content {
  padding-bottom: 300px;
  /* margin-bottom: 300px; */
  width: 80%;
  margin: 0 auto; 
}
.recent:hover,.live:hover,.upcomming:hover{
background-color: rgb(47, 116, 47);
}
.recent,.live,.upcomming{
  background-color: rgb(88, 165, 88);
  padding: 10px;
  border-right:1px solid white;

}
Link{
    text-decoration: none;
    color:aliceblue;

}
.navbar{
  /* margin:0 70px 0 70px; */
  width: 80%;
  /* justify-items: center; */
  margin: 0 auto; 

}
.navbar-brand{
  font-size: larger;
  color: rgb(91, 36, 137);
  font-weight: bolder;
}

@media screen and  (max-width: 768px){
  
    .table{
      width: 100%;
    
    }
  
.content{
  width: 98vh;
  margin:0px;
  /* background-color: red; */
  /* width:100%; */
  margin: 0 0; 

}
.navbar{
  /* width:100%; */
  width:98vh;
}
.home{
  /* width:100%; */
  width:98vh;
}
td,th{
  width: auto;
  
}
.schedule{
  position: fixed;
}

} 
